/********************************************
*
*	US Meeting Cost Estimator Stylesheet
*
*   Color Palette         : #ffffff (white)
*						  : #004baf (lake blue)
*						  : #097dbc (med blue)
*						  : #049fd9 (Cisco blue)
*						  : #39393b (dk grey)
*						  : #e9e9e9 (light grey)
*						  : #c12126 (red)
*                         : #008516 (dk green)
*						  : #abc233 (sage green)
*
*********************************************/

/*--------------------------------------------
*	BASE
---------------------------------------------*/
@font-face {
	font-family: Cisco;
	src: url('CiscoSansExtraLight.otf');
	
}

body {
	
	font-family: Cisco, sans-serif;
	
}

header {
	
}

h1, h2, h3, h4, h5, h6 {
	
}

p {

}

.instruction {
	color: #097dbc;
	font-size: 24px;
	font-weight: bold;
	margin-left: 20px;
	margin-bottom: 0;
	text-align: left;
}

.sub-instruct {
	color: #097dbc;
	font-size: 14px;
	font-weight: normal;
	line height: 0;
	margin-left: 20px;
	margin-top: 0;
}

.eventweb {
	color: #097dbc;
	font-size: 22px;
	font-weight: bold;
	margin-left: 20px;
	margin-bottom: 5px;
}

a {
	
	color: #ffffff;
	font-family: Helvetica;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	
}

ol, ul {
	
	list-style-type: none;

}

footer {
	
	display: block;
	font-size: 10px;
	margin-top: 200px;
	text-align: center;
}

/*--------------------------------------------
*	LOGO BLOCK
---------------------------------------------*/

.container {
	margin: 0, auto;
	max-width: 1000px;
	
}

.logo-block {
	background-color: #ffffff;
	display: inline;
	margin-bottom: 40px;
	padding: 30px 30px 0 30px;
	text-align: center;
}

.logo-image {
	float: left;
	padding: 20px 0 0 40px;
	
}

.logo-text {
	color: #049fd9;
	font-family: Cisco;
	font-size: 36px;
	list-style-type: none;
	padding: 40px 0;
}

/*--------------------------------------------
*	TEXT LINKS
---------------------------------------------*/

.text-link {
	color: #097dbc;
	font-weight: bold;
	text-decoration: none;
}

.text-link:hover {
	color: #c12126;;
}

/*--------------------------------------------
*	WELCOME
---------------------------------------------*/
.welcome {
	font-size: 18px;
	max-width: 900px;
	margin: 5px 5px 60px 40px;
}

/*--------------------------------------------
*	ACKNOWLEDGE
---------------------------------------------*/

.acknowledge {
	font-size: 18px;
	max-width: 900px;
	margin: 5px 5px 60px 40px;
	
}

.disclosure {
	color: #008516;
	font-weight: bold;
	text-align: center;
}

/*--------------------------------------------
*	BASIC INFORMATION FORM
---------------------------------------------*/

.basic-info-form {
	padding: 5px 40px 5px 40px;
	
}

input {
	border: 1px solid #097dbc;
	border-radius: 5px;
	box-sizing: border-box;
	margin: 10px 10px 10px 15px;
	padding: 10px 20px;
	width: 25%;
	
}

input:focus {
	background-color: #e9e9e9;
}

input[type=reset] {
	background-color: #097dbc;
	border: none;
	color: #ffffff;
	cursor: pointer;
	margin: 4px 2px 5px 70px;
	padding: 16px 32px;
	text-decoration: none;
	width: 200px;
	
}

/*--------------------------------------------
*	BUTTONS
---------------------------------------------*/

.get-started {
	background-color: #097dbc;
	border-radius: 30px;
	float: right;
	margin: 10px 0 10px 10px; 
	width: 200px;
	
}

.get-started-text {
	color: #ffffff;
	font-family: Helvetica;
	font-size: 20px;
	font-weight: bold;
	margin: 20px 0 20px 46px; 
	text-align: center;
	text-decoration: none;
	
}

.get-started:hover {
	
	background-color: #008516;
	transition: 0.2s ease-in-out;
	
}

.exit {
	background-color: #9e9ea2;
	border-radius: 25px;
	float: right;
	margin: 10px 0 10px 10px; 
	width: 125px;	
	
}

.exit-text {
	color: #39393b;
	margin-left: 40px;
}

.exit:hover {
	background-color: #e9e9e9;
	transition: 0.2s ease-in-out;
}

.agree {
	background-color: #097dbc;
	border-radius: 25px;
	float: right;
	margin: 10px 0 10px 10px; 
	width: 125px;
}

.agree-text {
	margin-left: 30px;
	
}

.agree:hover {
	background-color: #008516;
	transition: 0.2s ease-in-out;
}

.back {
	background-color: #9e9ea2;
	border-radius: 25px;
	display: inline;
	float: right;
	margin-left: 10px;
	margin-right: 100px; 
	width: 125px;
}

.back-text {
	color: #000000;
	margin-left: 37px;
	
}

.back:hover {
	background-color: #e9e9e9;
	transition: 0.2s ease-in-out;
	
}

.next {
	background-color: #097dbc;
	border-radius: 25px;
	display: inline;
	float:right;
	margin: 0; 
	width: 125px;
	
}

.next-text {
	margin-left: 38px;
}

.next:hover {
	background-color: #008516;
	transition: 0.2s ease-in-out;
}



/*--------------------------------------------
*	TABLES
---------------------------------------------*/

table {
	border-spacing: 10px 2px;
	border-collapse: separate;
}

td {
	padding: 6px;
}

