/********************************************
*
*	US Meeting Cost Estimator Stylesheet
*
*   Color Palette         : #ffffff (white)
*						  : #097dbc (blue)
*						  : #39393b (dk grey)
*						  : #c12126 (red)
*                         : #008516 (green)
*
*********************************************/

/*--------------------------------------------
*	BASE
---------------------------------------------*/
body {
	color: #39393b;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	
}

p {

}

ol, ul {
	padding: 0
	margin: 0
	list-style-type: none;
	
}

a {
	color: #097dbc;
	transition: 0.2s ease-in-out;
	
}
a:active, 
a:hover,
a:focus {
	color: #39393b;
}

/*--------------------------------------------
*	HERO
---------------------------------------------*/

.hero {
	background-color: #097dbc;
	color: #ffffff;
	margin-bottom: 40px;
	padding: 20px 0;
	text-align: center;
	
}

/*--------------------------------------------
*	LOGO
---------------------------------------------*/

@font-face {
	font-family: BudgetFonts;
	src: local("CiscoSansRegular"), 
	url("CiscoSansRegular.otf") format ('opentype');
	src: url('quicksand-light.woff2') format('woff2'),
	url('quicksand-light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
.logo {
	font-family: BudgetFonts;
	font-size: 44px;
	
}

/*--------------------------------------------
*	CONTAINER
---------------------------------------------*/

.container {
	margin: 0 auto;
	max-width: 800px;
}

/*--------------------------------------------
*	States
---------------------------------------------*/

.is-liked {
	animation: flash 2s;
}

/*--------------------------------------------
*	FORM
---------------------------------------------*/

.form {
	height: 0;
	margin-bottom: 20px;
	opacity: 0;
	visibility: hidden;
}

.form.is-visible {
	height: auto;
	opacity: 1;
	visibility: visible;
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.form-label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

.form-input {
	border: 1px solid #39393b;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 20px;
	padding: 10px;
	width: 100%;
}

/*--------------------------------------------
*	ANIMATION
---------------------------------------------*/

@keyframes flash {
	from, 50%, to {
		opacity: 0;
	}
	25%, 75% {
		opacity: 1;
  	}
}
