/********************************************
*
*	US Meeting Cost Estimator Stylesheet
*
*   Color Palette         : #ffffff (white)
*						  : #097dbc (blue)
*						  : #39393b (dk grey)
*						  : #c12126 (red)
*                         : #008516 (green)
*
*********************************************/

/*--------------------------------------------
*	BASE
---------------------------------------------*/
body {
	
}

header {
	
}

h1, h2, h3, h4, h5, h6 {
	
}

p {

}

ol, ul {
	padding: 0
	margin: 0
	list-style-type: none;
	
}

a {
	color: #097dbc;
	transition: 0.2s ease-in-out;
	
}
a:active, 
a:hover,
a:focus {
	color: #39393b;
}

footer {
	
}
/*--------------------------------------------
*	section name here
---------------------------------------------*/



/*--------------------------------------------
*	section name here
---------------------------------------------*/

/*--------------------------------------------
*	ANIMATION
---------------------------------------------*/

@keyframes flash {
	from, 50%, to {
		opacity: 0;
	}
	25%, 75% {
		opacity: 1;
  	}
}
