/********************************************
*
*	US Meeting Cost Estimator Stylesheet
*
*   Color Palette         : #ffffff (white)
*						  : #097dbc (blue)
*						  : #39393b (dk grey)
*						  : #c12126 (red)
*                         : #008516 (green)
*
*********************************************/

/*--------------------------------------------
*	BASE
---------------------------------------------*/
body {
	
}

h1, h2, h3, h4, h5, h6 {
	
}
p {
font-family: Calibri, Helvetica, sans-serif;	
font-size: 20px;
margin: 10px;
}

a {
	
}

ol {
	padding: 0
	margin: 0
	list-style-type: none;
	
}

ul {
	padding: 0
	margin: 0
	list-style-type: none;
	
}

li {
	
}
/*--------------------------------------------
*	HERO
---------------------------------------------*/
.hero {
	background-color: #097dbc;
	padding: 20px 0;
	text-align: center;
	color: #ffffff;
}
/*--------------------------------------------
*	HERO
---------------------------------------------*/
@font-face {
	font-family: BudgetFonts;
	src: local("CiscoSansRegular"), 
	url("CiscoSansRegular.otf") format ('opentype');
	src: url('quicksand-light.woff2') format('woff2'),
	url('quicksand-light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
.logo {
	font-family: BudgetFonts;
	font-size: 44px;
	
}