/********************************************
*
*	US Meeting Cost Estimator Stylesheet
*
*   Color Palette         : #ffffff (white)
*						  : #097dbc (blue)
*						  : #39393b (dk grey)
*						  : #c12126 (red)
*                         : #008516 (green)
*
*********************************************/

/*--------------------------------------------
*	BASE
---------------------------------------------*/
body {
	
}

h1, h2, h3, h4, h5, h6 {
	
}
p {
	
}
a {
	
}
ol {
	
}
ul {
	
}
li {
	
}
/*--------------------------------------------
*	HERO
---------------------------------------------*/
.hero {
	background-color: #097dbc;
	padding: 40px 0;
	text-align: center;
	color: #ffffff;
}
.logo {
	font-size: 44px;
	text-transform: uppercase;
	font-weight: bold;
	
}