/********************************************
*
*	US Meeting Cost Estimator Stylesheet
*
*   Color Palette         : #ffffff (white)
*						  : #004baf (lake blue)
*						  : #097dbc (med blue)
*						  : #049fd9 (Cisco blue)
*						  : #39393b (dk grey)
*						  : #e9e9e9 (light grey)
*						  : #c12126 (red)
*                         : #008516 (dk green)
*						  : #abc233 (sage green)
*
*********************************************/

/*--------------------------------------------
*	BASE
---------------------------------------------*/
body {
	
}

header {
	
}

h1, h2, h3, h4, h5, h6 {
	
}

p {

}

ol, ul {
	list-style-type: none;

}

a {
	color: #097dbc;
	font-weight: bold;
	text-decoration: none;
	transition: 0.2s ease-in-out;
	
	
}
a:active, 
a:hover,
a:focus {
	color: #39393b;
}

footer {
	display: block;
	font-size: 10px;
	margin-top: 200px;
	text-align: center;
}


/*--------------------------------------------
*	LOGO BLOCK
---------------------------------------------*/
.container {
	margin: 0, auto;
	max-width: 1000px;
	
}

.logo-block {
	background-color: #ffffff;
	display: inline;
	margin-bottom: 40px;
	padding: 30px 30px 0 30px;
	text-align: center;
}

.logo-image {
	float: left;
	padding: 20px 0 0 40px;
	
}

.logo-text {
	color: #049fd9;
	font-size: 36px;
	list-style-type: none;
	padding: 40px 0;
}

/*--------------------------------------------
*	WELCOME
---------------------------------------------*/
.welcome {
	font-size: 18px;
	max-width: 900px;
	margin: 5px 5px 60px 40px;
}

/*--------------------------------------------
*	ACKNOWLEDGE
---------------------------------------------*/
.acknowledge {
	font-size: 18px;
	max-width: 900px;
	margin: 5px 5px 60px 40px;
	
}

.disclosure {
	color: #008516;
	font-weight: bold;
	text-align: center;
}

/*--------------------------------------------
*	BASIC INFORMATION FORM
---------------------------------------------*/
.basic-info-form {
	padding: 5px 40px 5px 40px;
	
}

input {
	border: 1px solid #097dbc;
	border-radius: 5px;
	box-sizing: border-box;
	margin: 8px 10px 0 15px;
	padding: 12px 20px;
	width: 25%;
	
}

input:focus {
	background-color: #e9e9e9;
}

input[type=reset] {
	background-color: #097dbc;
	border: none;
	color: #ffffff;
	cursor: pointer;
	margin: 4px 2px 5px 70px;
	padding: 16px 32px;
	text-decoration: none;
	width: 200px;
	
}


/*--------------------------------------------
*	BUTTONS
---------------------------------------------*/
.container1 {
	background-color: #e9e9e9;
	border-radius: 5px;
	float: right;
	font-size: 16px;
	margin-bottom: 10px;
	margin-left: 10px;
	width: 100px;
	text-align: center;
	text-decoration: none;
}

.container2 {
	background-color: #097dbc;
	border-radius: 5px;
	float: right;
	font-size: 16px;
	margin-bottom: 10px;
	width: 100px;
	text-align: center;
	text-decoration: none;
}

.exit-button {
	color: #39393b;
}

.exit-button:hover {
	background-color: #c12126;
	color: #ffffff;
	transition: 0.2s ease-in-out;
}

.action-button {
	color: #ffffff;
}

.action-button:hover {
	background-color: #008516;
	color: #e9e9e9;
	transition: 0.2s ease-in-out;
}

.container1:hover {
	background-color: #c12126;
	transition: 0.2s ease-in-out;
}

.container2:hover {
	background-color: #008516;
	transition: 0.2s ease-in-out;
}



/*--------------------------------------------
*	ESCAPE BUTTON
---------------------------------------------*/

